In [ ]:

import kumoai.experimental.rfm as rfm, os
import pandas as pd
from pathlib import Path
from kumoai.experimental import rfm
import warnings

c:\Users\Temp\OneDrive - SmartQ d.o.o\Documents\GitHub\KumoRFM-usecase\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
os.environ["KUMO_API_KEY"] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1ZTk2MDVhNDk3OTAyMmE3NDBkODY5NjUwMTQzYmEzYiIsImp0aSI6IjJhYzM0Y2Q0LTcwZTItNDllZS05OGQxLThjZTgwYjRkMmMyMiIsImlhdCI6MTc2ODc3MzY5OCwiZXhwIjoxNzczOTU3Njk4fQ.3M_zscdA6HLtnmjtBJgm4HmTe4hzjXdo-BirUNBkXGo"
rfm.init()

[2026-01-26 14:53:01 - kumoai:201 - INFO] Successfully initialized the Kumo SDK (version 2.13.1) against deployment https://kumorfm.ai/api, with log level INFO.

In [3]:
#root = Path("datasets/cleaned_small")
root = Path("datasets/cleaned")
dfs = {
    p.stem: pd.read_csv(p)
    for p in root.glob("*.csv")
}

In [4]:
from kumoai.experimental import rfm

UTILITY_TABLES = {
    "chilledwater_cleaned",
    "electricity_cleaned",
    "gas_cleaned",
    "hotwater_cleaned",
    "irrigation_cleaned",
    "solar_cleaned",
    "steam_cleaned",
    "water_cleaned",
}

WEATHER_TABLES = {"weather"}
METADATA_TABLES = {"metadata"}


def make_table(name: str, df):
    # Utilities (long format)
    if name in UTILITY_TABLES:
        t = rfm.LocalTable(df, name=name)

        # Set primary key + time column
        t.primary_key = "reading_id"
        t.time_column = "timestamp"

        # Set semantic types
        t["reading_id"].stype = "ID"
        t["timestamp"].stype = "timestamp"
        t["building_key"].stype = "ID"
        t["all_building"].stype = "ID"          # optional but recommended
        t["utility"].stype = "categorical"
        t["value"].stype = "numerical"
        return t

    # Weather
    if name in WEATHER_TABLES:
        t = rfm.LocalTable(df, name=name)

        t.time_column = "timestamp"
        t["timestamp"].stype = "timestamp"
        t["site_id"].stype = "ID"

        # Mark all measurements as numerical
        for col in df.columns:
            if col not in {"timestamp", "site_id"}:
                t[col].stype = "numerical"
        return t

    # Metadata
    if name in METADATA_TABLES:
        t = rfm.LocalTable(df, name=name)

        t.primary_key = "building_key"
        t["building_key"].stype = "ID"

        # IDs
        for col in ["building_id", "site_id"]:
            if col in df.columns:
                t[col].stype = "ID"

        # Numericals (adjust if you want)
        for col in ["sqm", "sqft", "lat", "lng", "yearbuilt", "numberoffloors", "occupants"]:
            if col in df.columns:
                t[col].stype = "numerical"

        return t

    # Fallback for any other table you might add later
    return rfm.LocalTable(df, name=name)

In [5]:
rfm_tables = {name: make_table(name, df) for name, df in dfs.items()}

In [6]:
for name, table in rfm_tables.items():
    print(f"\n{name}")
    print(table.metadata)

chilledwater_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

electricity_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

gas_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

hotwater_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

irrigation_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

metadata
                     name   dtype        stype  is_primary_key  \
0             building_id  string           ID           False
1                 site_id  string           ID           False
2      building_id_kaggle   float           ID           False
3          site_id_kaggle   float           ID           False
4       primaryspaceusage  string  categorical           False
5   sub_primaryspaceusage  string  categorical           False
6                     sqm   float    numerical           False
7                    sqft   float    numerical           False
8                     lat   float    numerical           False
9                     lng   float    numerical           False
10               timezone  string  categorical           False
11            electricity  string  categorical           False
12               hotwater  string  categorical           False
13           chilledwater  string  categorical           False
14                  steam  string  categorical           False
15                  water  string  categorical           False
16             irrigation  string  categorical           False
17                  solar  string  categorical           False
18                    gas  string  categorical           False
19               industry  string  categorical           False
20            subindustry  string  categorical           False
21            heatingtype  string  categorical           False
22              yearbuilt   float    numerical           False
23            date_opened  string  categorical           False
24         numberoffloors   float    numerical           False
25              occupants   float    numerical           False
26        energystarscore  string  categorical           False
27                    eui  string         text           False
28               site_eui  string  categorical           False
29             source_eui  string  categorical           False
30             leed_level  string  categorical           False
31                 rating  string  categorical           False
32           building_key     int           ID            True

    is_time_column  is_end_time_column
0            False               False
1            False               False
2            False               False
3            False               False
4            False               False
5            False               False
6            False               False
7            False               False
8            False               False
9            False               False
10           False               False
11           False               False
12           False               False
13           False               False
14           False               False
15           False               False
16           False               False
17           False               False
18           False               False
19           False               False
20           False               False
21           False               False
22           False               False
23           False               False
24           False               False
25           False               False
26           False               False
27           False               False
28           False               False
29           False               False
30           False               False
31           False               False
32           False               False

solar_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

steam_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

water_cleaned
           name   dtype        stype  is_primary_key  is_time_column  \
0    reading_id     int           ID            True           False
1     timestamp  string    timestamp           False            True
2       utility  string  categorical           False           False
3  all_building  string           ID           False           False
4  building_key     int           ID           False           False
5         value   float    numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False

weather
             name   dtype      stype  is_primary_key  is_time_column  \
0       timestamp  string  timestamp           False            True
1         site_id  string         ID           False           False
2  airTemperature   float  numerical           False           False
3   cloudCoverage   float  numerical           False           False
4  dewTemperature   float  numerical           False           False
5  precipDepth1HR   float  numerical           False           False
6  precipDepth6HR   float  numerical           False           False
7  seaLvlPressure   float  numerical           False           False
8   windDirection   float  numerical           False           False
9       windSpeed   float  numerical           False           False

   is_end_time_column
0               False
1               False
2               False
3               False
4               False
5               False
6               False
7               False
8               False
9               False

In [7]:
#check if keys are unique
for name in UTILITY_TABLES:
    df = dfs[name]
    assert df["reading_id"].is_unique
assert dfs["metadata"]["building_key"].is_unique

In [8]:
graph_small = rfm.LocalGraph(tables=[
    rfm_tables["electricity_cleaned"],
    rfm_tables["metadata"],
])

# Building context
graph_small.link(src_table="electricity_cleaned", fkey="building_key", dst_table="metadata")

Graph(
  tables=[
    electricity_cleaned,
    metadata,
  ],
  edges=[
    electricity_cleaned.building_key ‚áî metadata.building_key,
  ],
)

In [9]:
graph_small.print_metadata()
graph_small.print_links()

### üóÇÔ∏è Graph Metadata

### üï∏Ô∏è Graph Links (FK ‚ÜîÔ∏è PK)

- `electricity_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`

In [10]:
model_small = rfm.KumoRFM(graph_small)

EX:

In [11]:
query = """
PREDICT SUM(electricity_cleaned.value, 0, 30, days)
FOR metadata.building_key = 1157
"""
df = model_small.predict(query)
display(df)

   ENTITY    ANCHOR_TIMESTAMP   TARGET_PRED
0    1157 2017-12-31 23:00:00  10149.665039

In [12]:
query = "PREDICT SUM(electricity_cleaned.value, 0, 30, days) FOR metadata.building_key = 1157"

df = model_small.predict(query)
display(df)

   ENTITY    ANCHOR_TIMESTAMP   TARGET_PRED
0    1157 2017-12-31 23:00:00  10149.665039

STUDY_CASE

In [19]:
import pandas as pd

BUILDING = 1157

def run(name, query):
    try:
        df = model_small.predict(query)
        df.insert(0, "query_name", name)
        return df
    except Exception as e:
        return pd.DataFrame({"query_name":[name], "error":[str(e)], "query":[query.strip()]})

# ---- 1) Single-building future forecasts (all should parse) ----
queries_single = {
    "sum_next_1d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 1, days)
FOR metadata.building_key = {BUILDING}
""",
    "sum_next_7d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 7, days)
FOR metadata.building_key = {BUILDING}
""",
    "sum_next_14d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 14, days)
FOR metadata.building_key = {BUILDING}
""",
    "sum_next_30d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 30, days)
FOR metadata.building_key = {BUILDING}
""",
    "sum_next_60d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 60, days)
FOR metadata.building_key = {BUILDING}
""",
    "sum_next_90d": f"""
PREDICT SUM(electricity_cleaned.value, 0, 90, days)
FOR metadata.building_key = {BUILDING}
""",
    # "Delayed" window: predict days 7‚Üí30 (start > 0 is allowed per docs)
    "sum_day7_to_day30": f"""
PREDICT SUM(electricity_cleaned.value, 7, 30, days)
FOR metadata.building_key = {BUILDING}
""",
}

single_out = pd.concat([run(k, q) for k, q in queries_single.items()], ignore_index=True, sort=False)
display(single_out)

          query_name  ENTITY    ANCHOR_TIMESTAMP   TARGET_PRED
0        sum_next_1d    1157 2017-12-31 23:00:00    287.459229
1        sum_next_7d    1157 2017-12-31 23:00:00   2848.290527
2       sum_next_14d    1157 2017-12-31 23:00:00   5804.503906
3       sum_next_30d    1157 2017-12-31 23:00:00  10149.665039
4       sum_next_60d    1157 2017-12-31 23:00:00  17393.048828
5       sum_next_90d    1157 2017-12-31 23:00:00  40583.875000
6  sum_day7_to_day30    1157 2017-12-31 23:00:00   8314.611328

BIG GRAPH

In [15]:
TABLES_BIG = [
    "metadata",
    "electricity_cleaned",
    "chilledwater_cleaned",
    "gas_cleaned",
    "hotwater_cleaned",
    "steam_cleaned",
    "water_cleaned",
    "irrigation_cleaned",
    "solar_cleaned",
]
graph_big = rfm.LocalGraph(
    tables=[rfm_tables[name] for name in TABLES_BIG]
)

In [16]:
for name in TABLES_BIG:
    if name == "metadata":
        continue

    graph_big.link(
        src_table=name,
        fkey="building_key",
        dst_table="metadata",
    )

In [17]:
graph_big.print_metadata()
graph_big.print_links()

### üóÇÔ∏è Graph Metadata

### üï∏Ô∏è Graph Links (FK ‚ÜîÔ∏è PK)

- `chilledwater_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `electricity_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `gas_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `hotwater_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `irrigation_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `solar_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `steam_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`
- `water_cleaned.building_key` ‚ÜîÔ∏è `metadata.building_key`

In [18]:
model_big = rfm.KumoRFM(graph_big)